{% extends 'index.html' %}
{% block title %}
<title>Shop</title>
{% endblock %}
{% block body %}
<!-- Product -->
<div class="bg0 m-t-23 p-b-140" style="padding-top: 85px;">
	<div class="container">
		<div class="flex-w flex-sb-m p-b-52">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10">

				<a href="/shop/All/{{sc}}/" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1">
					All
				</a>
				{% for i in maincategory %}
				<a href="/shop/{{i.name}}/{{sc}}/" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
					{{i.name}}
				</a>
				{% endfor %}
			</div>
			<div>
				|
			</div>
			<div class="flex-w flex-l-m filter-tope-group m-tb-10">

				<a href="/shop/{{mc}}/All/" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1">
					All
				</a>
				{% for i in subcategory %}
				<a href="/shop/{{mc}}/{{i.name}}/" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
					{{i.name}}
				</a>
				{% endfor %}
			</div>

			<div class="flex-w flex-c-m m-tb-10">
				<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
					<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
					<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Filter
				</div>
			</div>

			<!-- Search product -->
			<div class="dis-none panel-search w-full p-t-10 p-b-15">
				<div class="bor8 dis-flex p-l-15">
					<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>

					<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product"
						placeholder="Search">
				</div>
			</div>

			<!-- Filter -->
			<div class="dis-none panel-filter w-full p-t-10">
				<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
					<div class="filter-col1 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Sort By
						</div>
						<form action="/sort-filter/{{mc}}/{{sc}}/" method="post">
							{% csrf_token %}
							<ul>
								<li class="p-b-6">
									<a href="newest" class="filter-link stext-106 trans-04 filter-link-active">
										Newest
									</a>
								</li>

								<li class="p-b-6">
									<a href="LTOH" class="filter-link stext-106 trans-04">
										: Low to High
									</a>
								</li>

								<li class="p-b-6">
									<a href="HTOL" class="filter-link stext-106 trans-04">
										Price: High to Low
									</a>
								</li>
							</ul>
							<button
								class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">Apply</button>
						</form>
					</div>



					<div class="filter-col1 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15 txt-center">
							Price
						</div>
						<div>
							<form action="/price-filter/{{mc}}/{{sc}}/" method="post">
								{% csrf_token %}
								<div class="row">
									<div class="col-6 mb-3">
										<label>Min</label>
										<input type="number" name="min" value="0" min="0" class="form-control">
									</div>
									<div class="col-6 mb-3">
										<label>Max</label>
										<input type="number" name="max" value="0" min="500" class="form-control">
									</div>
									<button
										class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">Apply</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="row isotope-grid">
			{% for i in data %}
			<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
				<!-- Block2 -->
				<div class="block2">
					<div class="block2-pic hov-img0">
						<img src="{{i.pic1.url}}" alt="IMG-PRODUCT">

						<a href="/product-detail/{{i.id}}/"
							class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
							Quick View
						</a>
					</div>

					<div class="block2-txt flex-w flex-t p-t-14">
						<div class="block2-txt-child1 flex-col-l ">
							<a href="/product-detail/{{i.id}}/" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
								{{i.name}}
							</a>

							<span class="stext-105 cl3">
								&#8377; {{i.finalprice}}
							</span>
						</div>

						<div class="block2-txt-child2 flex-r p-t-3">
							<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
								<img class="icon-heart1 dis-block trans-04" src="/static/images/icons/icon-heart-01.png"
									alt="ICON">
								<img class="icon-heart2 dis-block trans-04 ab-t-l"
									src="/static/images/icons/icon-heart-02.png" alt="ICON">
							</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>

		<!-- Load more -->
		<div class="flex-c-m flex-w w-full p-t-45">
			<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
				Load More
			</a>
		</div>
	</div>
</div>
{% endblock %}